doctype html
html(lang="ru")
	head
		include utils/meta
		link(rel="stylesheet", href="css/style.min.css")
		title Main Page
	body
		include components/header
		.test Тест 
			svg.android-icon
				use(xlink:href='@svg/android')
			svg.facebook-icon(style='width: 30px; height: 30px;')
				use(xlink:href='@svg/facebook')
			svg.instagram-icon(style='width: 30px; height: 30px;')
				use(xlink:href='@svg/instagram')
		span Я СПАН ВСЕМ ПРУВЕТ
		p.soul Только что закончил делать таску с шрифтами. Ебать это пизда
		.text KAKASHKA
		ul
			li asdasd
			li.
				asdasd asd
			li asdd
			li dddd
		.class
			p Я внутри дива с классом класс
		include components/footer
		script(src='js/app.min.js')
