doctype html
html(lang="ru")
	head
		include utils/meta
		link(rel="stylesheet", href="css/style.min.css")
		title Main Page
	body 
		include components/header
		ul
			li asdasd
			li.
				asdasd asd a Юхуууу
				asdasd 123123
			li asdd
			li dddd
		include components/footer
		script(src='js/app.min.js')
