doctype html
html(lang="ru")
	head
		include utils/meta
		link(rel="stylesheet", href="css/style.min.css")
		title Main Page
	body
		include components/header
		.test Тест 
			svg.android-icon
				use(xlink:href='@svg/android')
			svg.facebook-icon
				use(xlink:href='@svg/facebook')
			svg.instagram-icon
				use(xlink:href='@svg/instagram')
			svg.govno-icon
				use(xlink:href='@svg/govno')
		span Я СПАН ВСЕМ ПРУВЕТss
		p.soul Только что закончил делать таску с шрифтами. Ебать это пизда
		.text KAKASHKA1
		ul
			li asdasd
			li.
				asdasd asd
			li asdd
			li dddd
		.class
			p Я внутри дива с классом класс
		include components/footer
		script(src='js/app.min.js')
