doctype html
html(lang="ru")
	head
		include utils/meta
		link(rel="stylesheet", href="css/style.min.css")
		title Main Page
	body 
		include components/header
		span Я СПАН ВСЕМ ПРУВЕТ
		.text KAKASHKA
		ul
			li asdasd
			li.
				asdasd asd
			li asdd
			li dddd
		.class
			p Я внутри дива с классом класс
		include components/footer
		script(src='js/app.min.js')
